@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto";
}

.cardPokemon{
  margin-top: 20px;
  padding: 20px;
  background: rgb(133, 243, 133);
  color: rgb(0, 0, 0);
  border-radius: 15px;
  border: 3px solid black;
  text-align: center;
  max-width: 250px;
}

.cardPokemon img {
    height: 250px;
    width: 250px;
    background-color: white;
    border-radius: 15px;
}

.typesBox {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

}

.types {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 5px;
}

.type-chip {
  padding: 4px 10px;
  border-radius: 12px;
  background-color: rgb(71, 237, 237);
  border: 1px solid black;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
}

.type-grass    { background-color: #78C850; color: white; }
.type-poison   { background-color: #A040A0; color: white; }
.type-fire     { background-color: #F08030; color: white; }
.type-water    { background-color: #6890F0; color: white; }
.type-electric { background-color: #F8D030; color: black; }
.type-bug      { background-color: #A8B820; color: black; }
.type-flying   { background-color: #A890F0; color: black; }
.type-normal   { background-color: #A8A878; color: black; }
.type-ground   { background-color: #E0C068; color: black; }
.type-steel    { background-color: #B8B8D0; color: black; }
.type-fairy    { background-color: #EE99AC; color: black; }
.type-fighting { background-color: #C03028; color: white; }
.type-psychic  { background-color: #F85888; color: white; }
.type-ice      { background-color: #98D8D8; color: black; }
.type-rock     { background-color: #B8A038; color: white; }
.type-ghost    { background-color: #705898; color: white; }
.type-dragon   { background-color: #7038F8; color: white; }
.type-dark     { background-color: #705848; color: white; }

